@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before,body,html,h1,h2,h3,p,li,a{
  font-family: "League Spartan", sans-serif!important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* font-size: 15px!important; */
}
