@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Red Hat Text", sans-serif;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-rose-100;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-rose-400;
  border-radius: 10px; 
}
.scrollbar::-webkit-scrollbar {
  width: 2px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (min-width: 1024px) {
  .popUp-card {
      width: 500px;
  }
}