
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,body,html,h1,li,a,h2,h3,h4,p{
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 3vw !important;
  }
  h3 {
    font-size: 1vw !important;
  }
  p {
    font-size: 1vw;
  }
}
